.form-control {
	border: 2px solid $gray-lighter;
	height: 44px;
	padding: 10px 15px;
	box-shadow: none;
	&:focus {
		border-color: $green;
		box-shadow: none;
		outline: none;
	}
}

.input-text {
	@extend .form-control;
}
label, .label {
	color: $text-color;
	font-size: 1em;
	line-height: 1.1;
	font-weight: 600;
}

.gform_wrapper {
	h3.gform_title {
		@extend .h3;
	}
	form {

	}
	ul {
		li.gfield {
			@extend .form-group;
		}
	}
	.top_label {
		.gfield_label {
			@extend .control-label;
		}
		input.large, input.medium {
			@extend .form-control;
		}
	}
	textarea.medium {
		@extend .form-control;
		height: 9em !important;
	}
	.gfield_required {
		color: $white;
	}

	li.gfield.gfield_error, li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
		background:none;
		border: none;
		
		input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], input[type=url], textarea {
			@extend .form-control;
			border-color: $brand-danger;
		}
	}
	li.gfield.gfield_error.gfield_contains_required, li.gfield.gfield_error.gfield_contains_required {
		div.ginput_container, label.gfield_label {
			color: $brand-danger;
			margin: 0;
		}
		div.gfield_description {
			color: $brand-danger;
		}
	}
}





