.form-control {
	border: 2px solid $gray-lighter;
	height: 44px;
	padding: 10px 15px;
	box-shadow: none;
	&:focus {
		border-color: $green;
		box-shadow: none;
		outline: none;
	}
}

.input-text {
	@extend .form-control;
}
label, .label {
	color: $text-color;
	font-size: 1em;
	line-height: 1.1;
	font-weight: 600;
}