// Grid system
// .main {
//   @include make-sm-column($main-sm-columns);
//   .sidebar-primary & {
//     @include make-sm-column($main-sm-columns - $sidebar-sm-columns);
//   }
// }
// .sidebar {
//   @include make-sm-column($sidebar-sm-columns);
// }

.table-box {
	width: 100%;
	display: table;
}
.table-cell-box {
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}