$serif: "kepler-std", Georgia, serif;
$sans: "league-gothic", serif;

body {
	font-family: $serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.4;
    background: url(../../assets/images/graph.png) center center repeat;
}

.wrap {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	position: relative;
	margin-top: 60px;
    background: url(../../assets/images/graph-lighter.png) center center repeat;
    box-shadow: 0 0 5px 3px rgba(0,0,0,.05);
	@include breakpoint(sm) {
		margin-top: 150px;
	}
}
.content {
	width: 100%;
}

h1, .h1, h2, .h2, h3, .h3 {
    font-family: $sans;
    font-weight: 400;
}

h1, .h1 {
    font-size: 3em;
    line-height: 1.1;
    text-transform: uppercase;
    color: $dark-green;
    margin: 15px 0;
    letter-spacing: 0.1em;
    @include breakpoint(sm) {
        font-size: 3em;
        margin: 25px 0;
    }
    @include breakpoint(md) {
        font-size: 3.5em;
    }
    @include breakpoint(lg) {
        font-size: 4em;
    }
}
h2, .h2 {
    font-size: 2em;
    line-height: 1.2;
    text-transform: uppercase;
    color: $dark-green;
    margin: 15px 0;
    letter-spacing: 0.1em;
    @include breakpoint(sm) {
        font-size: 2.1em;
        margin: 20px 0;
    }
    @include breakpoint(md) {
        font-size: 2.3em;
    }
    @include breakpoint(lg) {
        font-size: 2.5em;
    }
   
}

h3, .h3 {
    font-size: 1.8em;
    line-height: 1.2;
    color: $text-color;
    margin: 15px 0;
    letter-spacing: 0.01em;
    @include breakpoint(sm) {
        
        margin: 20px 0;
    }
    @include breakpoint(md) {
        font-size: 2em;
    }
    @include breakpoint(lg) {
        font-size: 2.2em;
    }
}

h4, .h4 {
    font-size: 1.3em;
    margin: 15px 0;
    @include breakpoint(sm) {
        font-size: 1.5em;
        margin: 20px 0;
    }

}
h5, .h5 {
    font-size: 1em;
    margin: 15px 0 5px;
    font-weight: bold;
    @include breakpoint(sm) {
        font-size: 1.1em;
        margin: 20px 0 5px;
    }

}
h6, .h6 {
    font-size: 1em;
    margin: 15px 0;
    font-weight: bold;
    @include breakpoint(sm) {
        font-size: 1.1em;
    }

}

p {
   margin: 10px 0 15px;
}

a {
    transition: all .1s ease;
    color: $primary;
    text-decoration: none;
    &:hover, &:focus {
        text-decoration: none;
        color: $dark-green;
    }
}

