// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors




$white: #ffffff;



$green: #519715;
$charcoal: #314443;
$blue: #05bfbf;
$orange: #ff932b;
$red: #e14639;
$dark-green: #266807;

$primary:$green;
$text-color: $charcoal;
$info: $blue;
$warning: $orange;
$error: $red;

$brand-primary:         $green;
