/* footer */.content-info {
	background: $charcoal;
	color: $white;
	a {
		color: lighten($charcoal, 30%);
		&:hover {
			color: $orange;
		}
	}
	hr {
		border-top: 1px solid lighten($charcoal, 10%);
	}
	
}

.signup-blade {
	text-align: center;
	padding: 30px 0;
	background: $info;
	@include breakpoint(sm) {
		padding: 50px 0;
	}
	h4, p {
		color: $white;
		margin-top: 0;
	}

	.form-inline {
		text-align: center;
	}

	.gform_wrapper {

		.gform_body {
			display: inline-block; 
		}

		.form-group {
			margin-right: 10px;

			.gfield_label {
			/* copied from bootstrap 'sr-only' */
				position: absolute;
				width: 1px;
				height: 1px;
				margin: -1px;
				padding: 0;
				overflow: hidden;
				clip: rect(0,0,0,0);
				border: 0;
			}

		}

		.top_label input.medium, 
		.top_label select.medium {
			width: 100%;
		}

		.gform_footer{

			display: inline-block; 
			padding: 0;
			margin: 0; 

			input[type=submit] {
				margin: 6px 0 15px;
			}
		}
	}
}

.footer-nav-container {
	padding: 30px 0;
	@include breakpoint(xs) {
		text-align: center;
	}
	@include breakpoint(sm) {
		padding: 50px 0;
	}
	ul {
		list-style: none;
		margin: 0 0 2em;
		padding: 0;
		li {
			display: block;
			a {
				display: block;
				padding: 8px 12px;
				border-bottom: 1px solid lighten($charcoal, 10%);
				color: $white;
				transform: translateX(0);
				transition: all .1s ease;
				&:hover, &:focus {
					background: lighten($charcoal, 10%);
					transform: translateX(5px);
				}
			}
		}
	}
}


.brand-footer {
	display: inline-block;
	background-image: url(../images/balsa-central-sprite-white.svg);
  	background-repeat: no-repeat;
  	background-size: 200px 158px;
      background-position: center -72px;
      width: 200px;
      height: 40px;
      margin: 10px auto;
}
.footer-contact {
	text-align: center;
	p {
		margin-top:0;
	}
}

