.banner {
	background: none;
	color: $white;
	text-align: center;
	width: 100%;
	top:0;
  position: fixed;
  left:0;
  right: 0;
  z-index: 100;
  line-height: 1;
  @include breakpoint(xs) {
    background: $green;
  }
  >.container-fluid {
    @include breakpoint(xs) {
      height: 60px;
      overflow: hidden;
    }
    @include breakpoint(sm) {
      background: $green;
    }

  }
  
  
	a {
		color: $white;
	}
  &.affix-top {
    .brand {
      background-size: 200px 158px;
      background-position: center -72px;
      width: 200px;
      height: 40px;
      margin: 10px auto;
      @include breakpoint(sm) {
        background-size: 300px 237px;
        background-position: center top;
        width: 300px;
        height: 90px;

      }
     /*  @include breakpoint(lg) {
        width: 360px;
        height: 106px;
        background-size: 360px 284px;
        margin: 20px auto;
      } */
    }
    
  }
  &.affix {
    .brand {
      background-size: 200px 158px;
      background-position: center -72px;
      width: 200px;
      height: 40px;
      margin: 10px auto;
      @include breakpoint(sm) {
        margin: 5px auto;
        width: 50px;
        height: 40px;
        background-size: 200px 158px;
        background-position: center bottom;
      }

    }
    
    
  }
}
.brand {
	display: inline-block;
	background-image: url(../../assets/images/balsa-central-sprite-white.svg);
  background-repeat: no-repeat;
  transition: background-size .1s ease, width .1s ease, background-position 0s ease;
}

.secondary-navigation {
	display: none;
	@include breakpoint(sm) {
		display: inline-block;
	}
}
.navbar-collapse {
	padding:0;
	box-shadow: none;
}
.navbar-nav {
	margin:0;
	padding:0;
  text-align: center;
  width: 100%;
  border-top: 2px solid $white;
  border-bottom: 2px solid $white;
  
  @include breakpoint(sm) {
    background: $dark-green;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  >li, >.open {
    float: none;
    display: inline-block;
    vertical-align: top;
    
    @include breakpoint(xs) {
      border-bottom: 1px solid lighten($dark-green, 5%);
    }
    >a {
      font-size: 1.2em;
      line-height: 1;
      font-family: $sans;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      padding: 11px 20px;
      @include breakpoint(xs) {
        padding: 12px 20px;
        height: 45px;
      }
      &:hover, &:focus {
        background: $green;
      }
    }
    >.dropdown-menu {
      border-radius: 0;
      box-shadow: none;
      padding:0;
      font-size: 1em;
      
      text-align: center;
      margin-bottom: 15px;
      border:none;
      
      @include breakpoint(sm) {
        border: 2px solid $green;
        margin-top: 10px;
        min-width: 200px;
        left: 50%;
        margin-left: -100px;
        &:after, &:before {
          bottom: 100%;
          left: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }
        &:after {
          border-color: rgba(255, 255, 255, 0);
          border-bottom-color: #ffffff;
          border-width: 10px;
          margin-left: -10px;
        }
        &:before {
          border-color: rgba(81, 151, 21, 0);
          border-bottom-color: #519715;
          border-width: 13px;
          margin-left: -13px;
        }
      }
    }

   


  }
  >.open {
    >a {
      background: $dark-green;
    }
  }
  li {
    clear: both;
  }
}
.dropdown-menu{
  >li {
    >a {
      padding:10px 20px;
    }
  }
}
.navbar-toggle {
  float: none;
  position: absolute;
  margin: 0;
  top:0;
  left:0;
  z-index: 100;
  width: 50px;
  height: 60px;
  text-align: center;
  border-radius: 0;
  .icon-bar {
    background: $white;
    margin-left: auto;
    margin-right: auto;
  }
  &:hover, &:focus {
    background: $dark-green;
  }
}


.mobnav-subarrow {
  display: none;
  color: white;
  padding: 8px;
  cursor: pointer;
  font-size: 1.5em;
  text-align: center;
}

@include breakpoint(xs) {
  
  .mobnav-subarrow {
    display: block;
    background: darken($green, 5%);
    color: $white;
    border:none;
    height: 45px;
    width: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    transition: all .1s ease-in-out;
    .xpopdrop & {
      background: $white;
      color: $charcoal;
    }
  }
  .navbar-nav {
    width: 100%!important;
    // display: none;
    li {
    	float: none!important;
	    display: block!important;
	    width: 100%!important;
	    a {
	    	float: none!important;
	    }
    }
    ul {
    	position: static!important;
    	display: none!important;
    }
    &.xactive {
    	display: block!important;
    }
  }
  
  .xpopdrop ul {
    display: block!important;
    width: 100%;
  }
}



.secondary-navigation {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      a {
        display: block;
        padding: 10px;
      }
    }
  }
}

.site-header-cart {
  display: none;
  @include breakpoint(sm) {
    display: inline-block;
  }
}
.cart-toggle {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 60px;
  top:0;
  right: 0;
  text-align: center;
  padding: 17px 2px;
  font-size: 1.3em;
  cursor: pointer;
  &:hover, &:focus {
    background: $dark-green;
  }
  @include breakpoint(sm) {
    display: none;
  }
}