.woocommerce, .woocommerce-page {
	form.checkout_coupon, form.login, form.register {
		border:none;
		background: none;
		padding:0;
		
	}
	.button, input.button, a.button, button.button {
		@extend .btn;
		background: $green;
		color: $white;
		margin-right: 10px;
		font-weight: 400;
		&:hover, &:focus {
			background: $dark-green;
		}
		&.alt {
			background: $orange;
			&:hover, &:focus {
				background: darken($orange, 5%);
			}
		}

	}
	#respond input#submit {
		@extend .btn;
	}
	#reviews {
		h3 {
			margin: 20px 0;
		}
	}
	#review_form {
		margin-bottom: 40px;
		#respond {
		p {
			@extend .form-group;
		}
	}
	} 

	ul.products {
		@extend .row;
		li.product {
			
			@extend .col-xs-6;
			@extend .col-sm-4;
			@extend .col-md-3;
			margin: 0;
			padding-bottom: 30px;
			.product-grid-item-wrap {
				display: block;
				position: relative;
				background: $white;
				box-shadow: 2px 2px 5px 0 rgba(0,0,0,.2);
				text-align: center;
				padding: 0 0 15px 0;
				overflow: hidden;
				backface-visibility: hidden;
				transition: .2s all ease;
				
				a:first-child {
					position: relative;
					display: block;
					background: $dark-green;
					overflow: hidden;
					font-smoothing: antialiased;
					backface-visibility: hidden;


					h3 {
						position: absolute;
						min-height: 40px;
						bottom:50px;
						left:0;
						right:0;
						padding: 10px;
						background: rgba($dark-green, 0.75);
						color: $white;
						line-height: 1.1;
						letter-spacing: 0.05em;
						width: 100%;
						@include breakpoint(md) {
							bottom:80px;
						}
					}
					img {
						margin:0;
						opacity: 1;
						z-index: 1;
						backface-visibility: hidden;
						transform: scale(1);
						transition: .1s all ease;
					}
					&:hover {
						img {
							opacity: 0.5;
							transform: scale(1.1);
						}
					}
				}
				p.price, span.price {
					height: 50px;
					color: $text-color;
					font-weight: 400;
					padding: 10px;
					margin:0;
					background: $white;
					z-index: 10;
					position: relative;
					@include breakpoint(md) {
						height: 80px;
					}
					del, ins {
						display: inline-block;
						vertical-align: middle;
						
						.amount {
							font-family: $sans;
							text-transform: uppercase;
							font-size: 1.2em;
							letter-spacing: 0.05em;
							font-weight: 400;

							@include breakpoint(md) {

								font-size: 1.3em;
							}
						}

					}
					del {

						opacity: 1;
						.amount {
							text-decoration: line-through;
						}

					}
					ins {
						color: $orange;
						text-decoration: none;
						.amount {
							text-decoration: none;
							@include breakpoint(md) {
								font-size: 1.6em;
							}
						}


					}
					.amount {
						font-family: $sans;
						text-transform: uppercase;
						font-size: 1.2em;
						letter-spacing: 0.05em;
						font-weight: 400;
						display: inline-block;
						vertical-align: middle;
						@include breakpoint(md) {
							font-size: 1.6em;
						}

					}
				}
				
			}
			.onsale {
				width: 100%;
				top:0;
				left:0;
				right: 0;
				margin:0;
				padding: 5px;
			}
			h3 {
				text-transform: uppercase;
				font-size: 1.5em;
			}
			.button {
				@extend .btn;
				background: $green;
				color: $white;
				&:hover, &:focus {
					background: $dark-green;
				}

			}
		} 
	}
	span.onsale {
		border-radius:0;
		background-color: $orange;
		font-family: $sans;
		font-size: 1.2em;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		min-height: 1px;
		height: auto;
		line-height: 1;
		padding: 10px;
		margin: 0;
		z-index: 10;
		top:0;
		
	}
	div.product {
		p.price, span.price {
			color: $text-color;
			font-weight: 400;
			del {
				
				opacity: 1;
				font-family: $sans;
				text-transform: uppercase;
				font-size: 1.2em;
				letter-spacing: 0.05em;
				font-weight: 400;
				display: inline-block;
				vertical-align: middle;
			}
			ins {
				color: $orange;
				text-decoration: none;
				font-family: $sans;
				text-transform: uppercase;
				font-size: 1.8em;
				letter-spacing: 0.05em;
				display: inline-block;
				vertical-align: middle;
				font-weight: 400;
			}
		}
		form.cart {
			.variations {
				td.label {
					vertical-align: middle;
					text-align: left;
				}
				td.value {
					vertical-align: middle;
				}
				label {
					font-size: 1em;
					font-weight: 300;
					font-weight: 600;
					width: 80px;
				}
			}
			.reset_variations {
				clear: both;
				font-family: $serif;
				letter-spacing: 0;
				font-size: 0.9em;
				padding:5px;
				vertical-align: middle;
				display: inline-block;
			}

		}
		
		.summary-wrapper {
			.wc-images {
				position: relative;
				@include breakpoint(xs) {
					    max-width: 500px;
					    margin-bottom: 30px;
				}
				.woocommerce-main-image {
					img {
						width: 75%;
						display: inline-block;
						vertical-align: bottom;
						@include breakpoint(sm) {
							width: 100%;
						}
						@include breakpoint(lg) {
							width: 75%;
						}
					}
					
				}
				div.thumbnails {
					width: 22%;
					display: inline-block;
					vertical-align: bottom;
					@include breakpoint(sm) {
						display: block;
						width: 100%;
					}
					@include breakpoint(lg) {
						width: 22%;
						display: inline-block;
						vertical-align: bottom;
					}
					a {
						width: auto;
						margin: 5px 0 0 0;
						@include breakpoint(sm) {
							width: 30%;
							margin: 5px 1% 0 0;
						}
						@include breakpoint(lg) {
							width: auto;
							margin: 5px 0 0 0;
						}
					}
				}
			}
		}


	}
	.quantity {
		.qty {
			width: 90px;
		}
	}
	.woocommerce-message {
		border: none;
		background: $info;
		color: $white;
		border-radius: 5px;
		box-shadow: 1px 1px 0 0 rgba(0,0,0,.3);
		&:before {
			color: $white;
		}
	}
	.woocommerce-error {
		border: none;
		background: $brand-danger;
		color: $white;
		border-radius: 5px;
		box-shadow: 1px 1px 0 0 rgba(0,0,0,.3);
		&:before {
			color: $white;
		}
	}
	table.cart {
		img {
			@include breakpoint(md) {
				width: 75px;
			}
			@include breakpoint(md) {
				width: 100px;
			}
		}
	}
	td.product-name {
		dl.variation {
			dd {
				margin: 0;
			}
			p {
				margin: 0;
			}
		}
	}

}



.woocommerce-price-suffix {
	display: inline-block;
	vertical-align: middle;
}
.woocommerce-cart {
	table.cart {
		td.actions {
			.coupon {
				.input-text {
					@extend .form-control;
					width: auto;
				}
			}
		} 
	} 
}  



.site-header-cart {
	
	margin-top: 18px;
	padding:0;

	li {
		list-style: none;
		a {
			padding: 5px 10px 5px 5px;
			border-radius: 3px;
			background: darken($brand-primary, 5%);
			box-shadow: 1px 1px 0 0 rgba(0,0,0,.3);
			&:hover, &:focus {
				background: $orange;
			}
			&:focus {
				box-shadow:inset 1px 1px 0 0 rgba(0,0,0,.3);
			}
		}
	}
	
	.fa-shopping-cart {
		padding-left: 8px;
	}
}