.woocommerce, .woocommerce-page {
	form.checkout_coupon, form.login, form.register {
		border:none;
		background: none;
		padding:0;
		
	}
	.button, input.button, a.button, button.button {
				@extend .btn;
				background: $green;
				color: $white;
				margin-right: 10px;
				font-weight: 400;
				&:hover, &:focus {
					background: $dark-green;
				}
				&.alt {
					background: $orange;
					&:hover, &:focus {
						background: darken($orange, 5%);
					}
				}

			}

	ul.products {
		@extend .row;
		li.product {
			
			@extend .col-xs-6;
			@extend .col-sm-4;
			@extend .col-md-3;
			margin: 0;
			padding-bottom: 30px;
			.product-grid-item-wrap {
				display: block;
				position: relative;
				background: $white;
				box-shadow: 2px 2px 5px 0 rgba(0,0,0,.2);
				text-align: center;
				padding: 0 0 15px 0;
				a:first-child {
					position: relative;
					display: block;

					h3 {
						position: absolute;
						min-height: 40px;
						bottom:50px;
						left:0;
						right:0;
						padding: 10px;
						background: rgba($dark-green, 0.75);
						color: $white;
						line-height: 1.1;
						width: 100%;
						@include breakpoint(md) {
							bottom:80px;
						}
					}
					img {
						margin:0;
					}
				}
				p.price, span.price {
						height: 50px;
	 			color: $text-color;
	 			font-weight: 400;
	 			padding: 10px;
	 			@include breakpoint(md) {
	 				height: 80px;
	 			}
	 			del, ins {
	 				display: inline-block;
		 				vertical-align: middle;
		 				@include breakpoint(md) {
		 					display: block;
		 				}
	 				.amount {
	 					font-family: $sans;
		 				text-transform: uppercase;
		 				font-size: 1.2em;
		 				letter-spacing: 0.05em;
		 				font-weight: 400;
		 				
		 				@include breakpoint(md) {
		 					
		 					font-size: 1.3em;
		 				}
	 				}
	 				
	 			}
	 			del {
	 				color: $orange;
	 				opacity: 1;
	 				.amount {
	 					
	 				}
	 				
	 			}
	 			ins {
	 				.amount {
	 					text-decoration: none;
	 				@include breakpoint(md) {
	 					font-size: 1.6em;
	 				}
	 				}
	 				
	 				
	 			}
	 			.amount {
	 				font-family: $sans;
	 				text-transform: uppercase;
	 				font-size: 1.2em;
	 				letter-spacing: 0.05em;
	 				font-weight: 400;
	 				display: inline-block;
	 				vertical-align: middle;
	 				@include breakpoint(md) {
	 					font-size: 1.6em;
	 				}

	 			}
	 		}
				
			}
			.onsale {
				width: 100%;
				top:0;
				left:0;
				right: 0;
				margin:0;
				padding: 5px;
			}
			h3 {
				text-transform: uppercase;
				font-size: 1.5em;
			}
			.button {
				@extend .btn;
				background: $green;
				color: $white;
				&:hover, &:focus {
					background: $dark-green;
				}

			}
		} 
	}
	span.onsale {
		border-radius:0;
		background-color: $orange;
		font-family: $sans;
		font-size: 1.2em;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		min-height: 1px;
		height: auto;
		line-height: 1;
		padding: 10px;
		margin: 0;
		z-index: 10;
		top:0;
		
	}
	 div.product {
	 	p.price, span.price {
	 			color: $text-color;
	 			font-weight: 400;
	 			del {
	 				color: $orange;
	 				opacity: 1;
	 				font-family: $sans;
	 				text-transform: uppercase;
	 				font-size: 1.2em;
	 				letter-spacing: 0.05em;
	 				font-weight: 400;
	 			}
	 			ins {
	 				text-decoration: none;
	 				font-family: $sans;
	 				text-transform: uppercase;
	 				font-size: 1.8em;
	 				letter-spacing: 0.05em;
	 				display: block;
	 				font-weight: 400;
	 			}
	 		}
	 	form.cart {
	 		.variations {
	 			label {
	 				font-size: 1em;
	 				font-weight: 300;
	 				font-weight: 600;
	 			}
	 		}
	 		.reset_variations {
	 			clear: both;
	 		}

	 	} 
	 }
	.quantity {
		.qty {
			width: 90px;
		}
	}
	.woocommerce-message {
		border: none;
		background: $info;
		color: $white;
		border-radius: 5px;
		box-shadow: 1px 1px 0 0 rgba(0,0,0,.3);
		&:before {
			color: $white;
		}
	}
	.woocommerce-error {
		border: none;
		background: $brand-danger;
		color: $white;
		border-radius: 5px;
		box-shadow: 1px 1px 0 0 rgba(0,0,0,.3);
		&:before {
			color: $white;
		}
	}
} 